<div class="header-container style-header">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><span>Minimus</span></a>
  </div>
  <div class="d-flex align-items-center">
    <nb-toggle [(checked)]="checked" (checkedChange)="checkedChange()" status="primary">Dark Mode</nb-toggle>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">

    <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.username"
               [picture]="user?.picture">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
